{
  "parser": "babel-eslint",

  "env": {
    "mocha": true,
    "browser": true
  },

  "rules": {
    "linebreak-style": 0,
    "no-plusplus": 0,
    "no-param-reassign": 0,
    "max-len": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
  },

  "extends": "airbnb"
}